
.item-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
  
}

.item-contents>.title {
  font-size: 4vh;
  line-height: 1.4;
  font-weight: bold;
  margin-left: 40px;
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  
  
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}


.item-img-content {
  position: relative;
}

.item-img {
  width: 32.5vh;
  height: 32.5vh;
}


.complete {
  width: 240px;
  height: 110px;
  display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 70px;
    -webkit-transform: rotate(-10deg);
}

.complete>span {
  color: #FFF;
  font-size: 30px;
  font: bold;
}


.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
}

.item-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}


.place {
  display: flex;
  align-items: center;
}





